<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="LaGustosaEntities" connectionString="metadata=res://*/DataModel.Model.LaGustosaModel.csdl|res://*/DataModel.Model.LaGustosaModel.ssdl|res://*/DataModel.Model.LaGustosaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-7JNHUJFU\SQLEXPRESS01;initial catalog=LaGustosa;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LaGustosaEntities1" connectionString="metadata=res://*/DataModel.Model.LaGustosaModel.csdl|res://*/DataModel.Model.LaGustosaModel.ssdl|res://*/DataModel.Model.LaGustosaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BGAOJP5;initial catalog=LaGustosa;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LaGustosaEntities2" connectionString="metadata=res://*/DataModel.Model.LaGustosaModel.csdl|res://*/DataModel.Model.LaGustosaModel.ssdl|res://*/DataModel.Model.LaGustosaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BGAOJP5;initial catalog=LaGustosa;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LaGustosaEntities3" connectionString="metadata=res://*/DataModel.Model.LaGustosaModel.csdl|res://*/DataModel.Model.LaGustosaModel.ssdl|res://*/DataModel.Model.LaGustosaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BGAOJP5;initial catalog=LaGustosa;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExamenEntities" connectionString="metadata=res://*/DataModel.Model.ModelLaGustosa.csdl|res://*/DataModel.Model.ModelLaGustosa.ssdl|res://*/DataModel.Model.ModelLaGustosa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BGAOJP5;initial catalog=Examen;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LaGustosaEntities4" connectionString="metadata=res://*/DataModel.Model.ModelLaGustosa.csdl|res://*/DataModel.Model.ModelLaGustosa.ssdl|res://*/DataModel.Model.ModelLaGustosa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BGAOJP5;initial catalog=LaGustosa;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>